
@font-face {
    font-family: 'riftonnormal';
    src: url('rifton-normal-webfont.woff2') format('woff2'),
         url('rifton-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap');

html {
    font-size: 62.5%;
    background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/****************   HEADER   *******************/
h1 {
    font-size: 7.8rem;
    text-align: center;
    font-family: rifton, Arial, Helvetica, sans-serif;
    margin: 0;
}

.menu {
  font-family: barlow, sans-serif;
  display: flex;
  margin: 0 10px;
}

.menu-b a{
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.menu-1 {
  flex-basis: 21.4%;
}

.menu-2 {
  flex-basis: 38.3%;
}

.menu-3 {
  flex-basis: 37%;
}

/************* ABOUT *********************/

main {
    height: 55vh;
  }

.about-container {
  height: 210px;
  width: 500px;
  margin: 50% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-about h1{
  font-family: rifton, Arial, Helvetica, sans-serif;
  font-size: 8.2rem;
  margin: 0;
  padding: 0;
  -webkit-text-stroke: 0.1px #000;
  color: transparent;
}

.paragraph {
    width: 230px;
    height: 120px;
    margin: 0;
    padding: 0;
    font-family: barlow, sans-serif;
    text-transform: uppercase;
}

/************* FOOTER *********************/

footer {
  height: 35px;
  font-family: barlow, sans-serif;
}

.footer-container {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}

.f-item-2 ul {
  list-style-type: none;
}

.f-item-2 ul li {
  display:inline-block;
  text-decoration: none;
  padding: 0 5px;
}

.f-item-2 ul li a{
  text-decoration: none;
  color: black;
}

/***************** MEDIA QUERIES ***********************/

@media only screen and (max-width: 768px) {
  /****************   HEADER   *******************/
  h1 {
    font-size: 3.5rem;
  }
  
  .menu {
    margin: 0 2px;
  }
  
  .menu-1 {
  flex-basis: 44%;
  }
  
  .menu-2 {
  flex-basis: 36%;
  }
  
  .menu-3 {
  flex-basis: 22%;
  }

/****************   MAIN   *******************/
.about-container {
  margin: 50% auto;
}

@media only screen and (max-width: 500px) {
  /****************   HEADER   *******************/
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
  }
  
  .menu-b {
    margin: 5px 0;
  }

 nav {
   text-align: center;
   width: auto;
 }

  
  /************* MAIN *********************/
  
  main {
    height: 100%;
    width: 300px;
  }

  .content-about h1{
    font-size: 4.5rem;
  }

  .content-about p{
    text-align: center;
    margin: 10px 0;
    width: 300px;
  }
  
  .about-container {
    height: 210px;
    width: 300px;
    margin: 50% auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }




/************* FOOTER *********************/

footer {
  height: 35px;
  font-family: barlow, sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}

.footer-container p {
  text-align: center;
  margin: 20px 0;
}

.f-item-2 ul {
  list-style-type: none;
  text-align: center;
}

.f-item-2 ul li {
  display:inline-block;
  text-decoration: none;
  padding: 0 5px;
  text-align: center;
}

.f-item-2 ul li a{
  text-decoration: none;
  color: black;
  text-align: center;
}

}




}