
@font-face {
    font-family: 'riftonnormal';
    src: url('rifton-normal-webfont.woff2') format('woff2'),
         url('rifton-normal-webfont.woff') format('woff'),
         url('rifton-normal-webfont.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap');

html {
    font-size: 62.5%;
    background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/****************   HEADER   *******************/
h1 {
    font-size: 7.8rem;
    text-align: center;
    font-family: rifton, Arial, Helvetica, sans-serif;
    margin: 0;
}

.menu {
  font-family: barlow, sans-serif;
  display: flex;
  margin: 0 10px;
}

.menu-b a{
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.menu-1 {
  flex-basis: 21.4%;
}

.menu-2 {
  flex-basis: 38.3%;
}

.menu-3 {
  flex-basis: 37%;
}

/************* MAIN *********************/

main {
  height: 100vh;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 300px;
}

.item {
	width: 33%;
	padding: 25px 0;
	margin: 2px;	
}

.item a{
	text-decoration: none;
	color:black;
	text-align: center;
}

.item a h1:hover {
  color: transparent;
  -webkit-text-stroke: 0.3px #000;
}

.item h1{
	font-family: rifton, Arial, Helvetica, sans-serif;
	font-size: 2rem;
	margin: 0;
}

.item p{
	font-family: barlow, sans-serif;
	font-size: 1.2rem;
	margin: 0;
}

/************* FOOTER *********************/

footer {
  height: 35px;
  font-family: barlow, sans-serif;
}

.footer-container {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}

.f-item-2 ul {
  list-style-type: none;
}

.f-item-2 ul li {
  display:inline-block;
  text-decoration: none;
  padding: 0 5px;
}

.f-item-2 ul li a{
  text-decoration: none;
  color: black;
}

/***************** MEDIA QUERIES ***********************/

@media only screen and (max-width: 768px) {
/****************   HEADER   *******************/
h1 {
  font-size: 3.5rem;
}

.menu {
  margin: 0 2px;
}

.menu-1 {
flex-basis: 44%;
}

.menu-2 {
flex-basis: 36%;
}

.menu-3 {
flex-basis: 22%;
}

/************* MAIN *********************/

.items-container {
  padding-top: 300px;
}

.item {
	width: 32%;
}

.item a h1:hover {
  color: transparent;
  -webkit-text-stroke: 0.3px #000;
}

.item h1{
	font-size: 1.6rem;
}

}

