
@font-face {
    font-family: 'riftonnormal';
    src: url('rifton-normal-webfont.woff2') format('woff2'),
         url('rifton-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap');

html {
    font-size: 62.5%;
    background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/****************   HEADER   *******************/
h1 {
    font-size: 7.8rem;
    text-align: center;
    font-family: rifton;
    margin: 0;
}

.menu {
  font-family: barlow;
  display: flex;
  margin: 0 10px;
}

.menu-b a{
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.menu-1 {
  flex-basis: 21.4%;
}

.menu-2 {
  flex-basis: 38.3%;
}

.menu-3 {
  flex-basis: 37%;
}

/************* CONTACT *********************/

main {
    height: 55vh;
  }

.contact-container {
  height: 210px;
  width: 500px;
  margin: 15% auto;
  padding-top: 50px;
  text-align: center;
}

.contact-container p{
    font-family: barlow;
    color: black;
    font-size: 1.2rem;
} 

.contact-container h1{
    font-family: rifton;
    font-size: 1.2rem;
    color: black;
} 

.info-1 {
    margin-bottom: 20px;
    line-height: 20px;
}

.info-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

.info-2 p {
    margin-left: 5px;
}



/************* FOOTER *********************/

footer {
  height: 35px;
  font-family: barlow;
}

.footer-container {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}

.f-item-2 ul {
  list-style-type: none;
}

.f-item-2 ul li {
  display:inline-block;
  text-decoration: none;
  padding: 0 5px;
}

.f-item-2 ul li a{
  text-decoration: none;
  color: black;
}
