
@font-face {
    font-family: 'riftonnormal';
    src: url('rifton-normal-webfont.woff') format('woff'), 
         url('rifton-normal-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap');

html {
    font-size: 62.5%;
    background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/****************   HEADER   *******************/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    font-size: 7.8rem;
    text-align: center;
    font-family: rifton, Arial, Helvetica, sans-serif;
}

header a{
    padding-top: 18px;
    font-family: barlow, sans-serif;
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    color: black;

}

header p {
    padding-top: 18px;
    font-family: barlow, sans-serif;
}

/***************** MAIN ********************/

main {
    height: 100%;
  }

.abstract {
    width: 440px;
    height: 150px;
    margin: 0 auto;
    padding-top: 25px;
}

main p {
    font-family: barlow, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 15px;
}

.project {
  margin-top: 100px;
  margin-bottom: 60px;
  width: 1225px;
  height: auto;
}

.item {
  width: 750px;
  margin: 0 auto;
}

.item img {
  width: 750px;
  height: auto;
  margin-bottom: 20px;
}

/**** DEMO ****/
.demo {
  margin-bottom: 60px;
}

.demo a{
	text-decoration: none;
	color:black;
	text-align: center;
}

.demo a h1:hover {
  color: transparent;
  -webkit-text-stroke: 0.3px #000;
}

.demo h1{
	font-family: rifton, Arial, Helvetica, sans-serif;
	font-size: 2rem;
	margin: 0;
}

/************* BUTTON *********************/

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 60px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: #fff; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 9px; /* Some padding */
  font-size: 1.2rem; /* Increase font size */
  font-family: rifton, Arial, Helvetica, sans-serif;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


/************* FOOTER *********************/

footer {
  height: 35px;
  font-family: barlow, sans-serif;
}

.footer-container {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}

.f-item-2 ul {
  list-style-type: none;
}

.f-item-2 ul li {
  display:inline-block;
  text-decoration: none;
  padding: 0 5px;
}

.f-item-2 ul li a{
  text-decoration: none;
  color: black;
}

/***************** MEDIA QUERIES ***********************/
@media only screen and (max-width: 768px) {
  /****************   HEADER   *******************/
h1 {
    font-size: 5rem;
}

header a{
    padding-top: 11px;
}

header p {
    padding-top: 11px;
}

/***************** MAIN ********************/
.project {
width: 539px;
}

.item {
width: 539px;
}

.item img {
width: 539px;
}

@media only screen and (max-width: 500px) {
  /****************   HEADER   *******************/
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
  }
  
  .menu-b {
    margin: 5px 0;
  }

 nav {
   text-align: center;
   width: auto;
 }

  
  /************* MAIN *********************/
  
  main {
    height: 100%;
    width: 300px;
  }

  .abstract {
    width: 300px;
  }

  .project {
    width: 300px;
  }

  main p {
    font-size: 1rem;
}
 
  .item {
    width: 300px;
  }

  .item img {
    width: 300px;
  }

  #myBtn {
    display: none;
  }


/************* FOOTER *********************/

footer {
  height: 35px;
  font-family: barlow, sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}

.footer-container p {
  text-align: center;
  margin: 20px 0;
}

.f-item-2 ul {
  list-style-type: none;
  text-align: center;
}

.f-item-2 ul li {
  display:inline-block;
  text-decoration: none;
  padding: 0 5px;
  text-align: center;
}

.f-item-2 ul li a{
  text-decoration: none;
  color: black;
  text-align: center;
}

}

}